:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--text-logo-color: #000000;
	--bcg-btn-active-color: #188CE8;
	--accent-color: #2196F3;
	--secondary-color: #FFFFFF;
	--footer-hero-bcg-color: #2F303A;
	--footer-contacts-text-color: rgba(255, 255, 255, 0.6);
	--bcg-section-btn-color: #F5F4FA;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right:auto;
	padding-left: 15px;
	padding-right: 15px;
}

body {
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	letter-spacing: 00.03em;
	background-color: var(--secondary-color);
}

/* ==========START COMPONENTS========== */
.logo {
	color: var(--accent-color);
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
}

.navigation .current,
.nav-link:hover,
.nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-maps:hover,
.footer-maps:focus,
.footer-contacts-text:hover,
.footer-contacts-text:focus {
	color: var(--accent-color);
}

.hero-btn,
.btn-filter:hover,
.btn-filter:focus {
	color: var(--secondary-color);
	background-color: var(--accent-color);
}

.btn {
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;
}

.hero,
.footer {
	background-color: var(--footer-hero-bcg-color);
}

.products-title,
.team-title {
	text-align: center;
	
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
}

.team,
.btn-filter {
	background-color: var(--bcg-section-btn-color);
}
/* ==========END COMPONENTS========== */

/* ==========START HEADER========== */
.header-flex {
	display: flex;
	justify-content: space-between;
}

.nav-page {
	display: flex;
	align-items: center;
}

.nav-page > .logo {
	margin-right: 92px;
} 

.logo-header {
	color: var(--text-logo-color);
}

.navigation,
.header-contacts {
	display: flex;

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.navigation .item:not(:last-child) {
	margin-right: 50px;
}

.nav-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-text-color);
}

.header-contacts .item:not(:last-child) {
	margin-right: 50px;
}

.header-contacts-link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--secondary-text-color);
}
/* ==========END HEADER========== */

/* ==========START HERO========== */
.hero-title {
	text-align: center;

	color: var(--secondary-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.hero-btn {
	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 00.06em;
}

.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--bcg-btn-active-color);
}
/* ==========END HERO========== */

/* ==========START FEATURE========== */
.feature-title {
	font-weight: 700;
	font-size: inherit;
	line-height: 1.14;
	text-transform: uppercase;
}

.feature-text {
	line-height: 1.71;
	color: var(--secondary-text-color);
}
/* ==========END FEATURE========== */

/* ==========START TEAM========== */
.team-list {
	background-color: var(--secondary-color);
}

.employee-name {
	text-align: center;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.employee-profession {
	text-align: center;

	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.19;
}
/* ==========END TEAM========== */

/* ==========START FOOTER========== */
.logo-footer {
	color: var(--secondary-color);
}

.footer-contacts {
	font-style: normal;
}

.footer-maps,
.footer-contacts-text {
	color: var(--secondary-color);
	line-height: 1.71;
}

.footer-contacts-text {
	color: var(--footer-contacts-text-color);
}
/* ==========END FOOTER========== */

/* ==========START WORKS========== */
.btn-filter {
	font-weight: 500;
	line-height: 1.63;
	letter-spacing: inherit;
}

.works-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.works-text {
	color: var(--secondary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
/* ==========START WORKS========== */